<?xml version="1.0"?>
<robot name="rove" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- ODrive args -->
    <xacro:arg name="use_mock_odrives" default="false"/>
    <xacro:arg name="can_channel" default="can0"/>

    <!-- Ovis args -->
    <xacro:arg name="use_mock_ovis" default="false"/>
    <xacro:arg name="with_ovis" default="false"/>

    <material name="rubber_color">
        <color rgba="0.1 0.1 0.1 1.0" />
    </material>
    <material name="frame_color">
        <color rgba="0.5 0.5 0.5 1.0" />
    </material>
    <material name="lidar_color">
        <color rgba="1 0 0 1.0" />
    </material>

    <xacro:include filename="$(find roboguard_description)/urdf/rove.base.tracks.urdf.xacro" />
    <xacro:include filename="$(find roboguard_description)/urdf/rove.base.ros2_control.urdf.xacro" />

    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="1 0.6 0.1" />
            </geometry>
            <material name="frame_color" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="1 0.6 0.1" />
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0.5" rpy="0 0 0" />
            <mass value="80" />
            <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
        </inertial>
    </link>

    <!-- Put these at -1 to mock the motors if working without the motors -->
    <xacro:if value="$(arg use_mock_odrives)">
        <xacro:odrive_control fr_id="-1" fl_id="-1" rl_id="-1" rr_id="-1" />
    </xacro:if>
    <xacro:unless value="$(arg use_mock_odrives)">
        <xacro:odrive_control fr_id="32" fl_id="31" rl_id="34" rr_id="33" />
    </xacro:unless>


    <xacro:if value="$(arg with_ovis)">
        <xacro:include filename="$(find ovis_description)/urdf/ovis.urdf.xacro" />
        <link name="ovis_base_link" />
        <joint name="ovis_base" type="fixed">
            <parent link="base_link" />
            <child link="ovis_base_link" />
            <origin xyz="0 -0.3 0.5" rpy="0 0 0" />
        </joint>

        <xacro:ovis base_parent="ovis_base_link" use_mock="$(arg use_mock_ovis)"/>
    </xacro:if>

</robot>