# Ignore build and log directories
build/
log/
install/

# Ignore everything in src except local and submodule packages
src/*
!src/roboguard_*
!src/better_odrive
!src/capra_control_msgs
!src/capra_flippers_teleop
!src/capra_joy_to_bool
!src/capra_tank_twist
!src/capra_teleop_mapper
!src/joy_mux
!src/ovis_ros2
!src/input_manager
!src/capra_twist_mux
!src/capra_stamp_demux

# Ignore Python bytecodes
__pycache__/
*.pyc

# Ignore temp files
*.tmp
*.temp

# Ignore files related to your dev environment
.vscode/

# generated map database by rtabmap
*.db

# flipper positions
flipper_pos.json