[Unit]
Description=Launches the local joy node to control directly from the PI
After=network.target

[Service]
Environment="ROS_LOG_DIR=/var/log/ros2"
Environment="ROS_DOMAIN_ID=96"
ExecStart=/usr/bin/distrobox enter ros-ubuntu -- /bin/zsh -c "source /home/capra/roboguard_pi/install/setup.zsh && ros2 launch roboguard_bringup joy.launch.py"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target