[Unit]
Description=Compresses the rosbags
After=multi-user.target

[Service]
Type=oneshot
Environment="HOME=/home/capra"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=distrobox-enter ros-ubuntu -- /bin/bash -c "source /home/capra/roboguard_pi/install/setup.bash && /home/capra/roboguard_pi/scripts/compress_bags.py /var/log/ros2"

[Install]
WantedBy=default.target